
$font-stack:    Helvetica, sans-serif;
$primary-color: #f00;
$back-color: #ff0;

%bcolor {
  border-color: blue;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $back-color;
}


nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  li {
    display: inline-block;
  }


  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

@import '_part';


@mixin border-rad($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


.box {
    @extend %bcolor;
    @include border-rad(10px);
    border-style: solid;
    border-width: 1px;
  }